# Scala/SBT
*.class
*.log
target/
lib_managed/
src_managed/
project/project/
project/target/
.cache/
.history/
.dist/

# Spark
spark-warehouse/
metastore_db/
.derby.log

# Kafka
logs/
*.kafka

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.classpath
.project
.settings/

# Other
.DS_Store
